#ROOTEXT {
    font-family: "Jomolhari", sans-serif;
    font-size: 30px;
}
#DEF {
    font-family: "Jomolhari", sans-serif;
    font-size: 25px;
}
#ENTITLE {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#ENENTRY {
    font-family: "Arial", sans-serif;
    font-size: 17px;
}
#BOTITLE {
    font-family: "Jomolhari", sans-serif;
    font-size: 30px;
    font-weight: bold;
}
#BOENTRY {
    font-family: "Jomolhari", sans-serif;
    font-size: 25px;
}
.tippy-box[data-theme~='popup'] {
    background-color: grey;
    color: white;
}
span:hover {
    background-color: oldlace;
}

